html,body{
   height:100%;
}
.carousel,.item,.active{
   height:100%;
 }
.carousel-inner{
    height:100%;
}
.main-text{
    position: absolute;
    top: 30vh; 
    width: 96.66666666666666%;
    color: #FFF;
}

.fill{width:100%;height:100%;background-position:center;background-size:cover;}

#header {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

h1.name {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 14vh; 
	font-weight: 100;
	text-align:center;
	padding-bottom: 1.5vh;
}

a i {
	color: rgba(255, 255, 255, 0.8);
}

a i:hover { 
	color: #fff!important;
	opacity: 1;
	outline: none!important;
	text-decoration: none!important;
	text-shadow: 0 0 1ex #fff, 0 0 4px #fff; 
	-webkit-transition: all 350ms ease;
	-moz-transition: all 350ms ease;
	-ms-transition: all 350ms ease;
	-o-transition: all 350ms ease;
	transition: all 350ms ease;
}
